/* Tablet & Mobile */
@media (max-width: 63.9375em) {
    .btn {
        padding: 15px 16px;
    }

    #nav .subnav a {

    }

    .contact-form .form-control {
        padding: 15px;
    }

    .contact-info {
        line-height: 2;
    }

    .social-list {
        font-size: 48px;
    }

    #footer .social-list a {
        margin: 0 8px;
    }
    
    .copyright {
        padding: 12px 0;
        display: inline-block;
    }

}

/* Tablet */
@media (min-width: 46.25em) and (max-width: 63.9375em) {

}

/* Mobile */
@media (max-width: 46.25em) {
    .s-full-width,
    .s-col-full {
        width: 100% !important;
    }

    .s-mt-8 {
        margin-top: 8px !important;
    }

    #header {
        overflow: hidden;
    }
    #nav {
        display: block;
    }
    #nav > li {
        display: block;
    }

    #nav .subnav {
        position:initial;
        background-color: #333333;
    }

    #nav .subnav a {
        color: #ffffff;
        padding: 5px 12px;
    }

    #nav > li:first-child {
        display: inline-block;
    }

    #header .search-button {
        display: none;
    }

    #header .mobile-menu-btn {
        display: block;
    }

    #content .member-img {
        width: 60%;
    }

    .contact-form {
        margin-top: 32px;
    }

}